/* ===== RESET ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color:#f1f5f9;
}

/* ===== NAVBAR ===== */
.navbar{
    background: linear-gradient(90deg,#7f00ff,#e100ff);
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:22px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:600;
}

.nav-links a:hover{
    color:#ffe066;
}

/* ===== HOME ===== */
.home{
    text-align:center;
    padding:90px 20px;
}

.profile-img{
    width:170px;
    height:170px;
    border-radius:50%;
    border:5px solid #ffe066;
}

.home h1{
    margin-top:20px;
    font-size:36px;
}

.home h3{
    margin-top:10px;
    color:#00f5a0;
}

/* ===== ICONS ===== */
.contact-icons{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:30px;
}

.contact-icons a{
    font-size:26px;
    color:#00f5a0;
    transition:0.3s;
}

.contact-icons a:hover{
    color:#00d9f5;
    transform:scale(1.2);
}

/* ===== PAGES ===== */
.page{
    padding:80px;
}

.page h1{
    color:#00f5a0;
    margin-bottom:20px;
}

.page ul li{
    margin-bottom:10px;
}

/* ===== CERT GRID ===== */
.cert-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(80px,1fr));
    gap:25px;
}

.cert-grid img{
    width:70px;
    transition:0.3s;
}

.cert-grid img:hover{
    transform:scale(1.2);
}

/* ===== RESPONSIVE ===== */
@media(max-width:900px){
    .navbar{
        flex-direction:column;
        gap:10px;
    }

    .page{
        padding:40px;
    }
}

@media(max-width:600px){
    .nav-links{
        flex-direction:column;
        gap:12px;
    }

    .profile-img{
        width:140px;
        height:140px;
    }

    .home h1{
        font-size:28px;
    }
}



.card {
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    border-left: 5px solid #ffe066;
}

.card h2 {
    color: #ffe066;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 8px;
}
