body {
    /* padding: 10px; */
    height: 100vh; 
    background:linear-gradient(90deg,#004f3b 30%,#ffffff 0.1%,#ffffff 70%);
}

#head {
    background-color: #ebeded;
    /* height: 15%; */
}

#full-name {
    margin-top: 15px; 
    margin-left: 15px;
    font-family: 'Arial', Sans-serif; 
    /* font-family: 'Papyrus', sans-serif; */ 
    font-style: bold; 
    color: #01674d; 
    font-size: 24px; 
}

#intrests {
    margin-left: 15px;
    font-family:  'Arial', Sans-serif; 
    color: #014536; 
    font-size: 16px; 
}

#con-body1 {
    height: 100vh; 
    width: 100%;
    display: flex; 
    flex-direction: row; 
}

#colx {
    background-color: transparent;
    width: 20%;
    height: 100%;
}

#col1 {
    background-color: #f6fafa;
    box-shadow: 0px 0px 10px 3px #5c8b7f;
    width: 30%;
    /* height: 100%; */
}

#pic {
    margin-top: 15px;
    border-radius: 50%;
    height: 150px;
    width: 180px;
    /* border: 0.1px solid #2e4e46; */
    box-shadow: 0px 0px 10px 3px #5c8b7f;
}

#name {
    margin-top: 30px; 
    font-family: 'Brush Script MT', cursive; 
    font-style: italic; 
    color: #01674d; 
    font-size: 39px; 
}

#line {
    color: #9efb2d;;
}

#role {
    margin-top: 18px; 
    font-family: 'Arial', Sans-serif; 
    /* font-style: italic; */ 
    color: #014536; 
    font-size: 20px; 
}

.bar {
    background-color: rgb(220, 218, 218);
    width:100%;
    height: 100%;
}

#icons {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

#ic {
    color: #01674d;
}

#ic:hover{
    /* transform:scale(2); */
    color: rgb(104, 2, 61);
}

#col2 {
    background-color: #f6fafa;
    box-shadow: 0px 0px 10px 3px #5c8b7f;
    width: 50%;
}

#about-1 {
    padding-left: 2.5%;
    margin-top: 1%;
    font-size: 36px;
    text-align: left;
    font-family:  'Brush Script MT', cursive;
    /* font-style: italic; */
    color: #014536;
}
