body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: #f1f5f9;
}


nav {
    background: linear-gradient(90deg, #7f00ff, #e100ff);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 22px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ffe066;
}

/* ===== HOME ===== */
.home {
    text-align: center;
    padding: 80px 20px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #ffe066;
}

/* ===== BUTTONS ===== */
.buttons {
    margin-top: 30px;
}

.btn {
    background: linear-gradient(90deg, #00f5a0, #00d9f5);
    color: #020617;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
}

.btn:hover {
    background: linear-gradient(90deg, #00d9f5, #00f5a0);
}

/* ===== ABOUT PAGE ===== */
.about-page {
    padding: 60px;
}

.about-page h1 {
    color: #00f5a0;
}

/* ===== PROJECTS PAGE ===== */
.projects-page {
    padding: 60px;
}

.project-card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(6px);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    border-left: 5px solid #00f5a0;
}

.project-card h2 {
    color: #00f5a0;
}

/* ===== CONTACT PAGE ===== */
.contact-page {
    padding: 60px;
}

.contact-page h1 {
    color: #ffe066;
}

.contact-page a {
    color: #00d9f5;
}

.contact-page a:hover {
    color: #00f5a0;
}
